apiVersion: apps/v1
kind: Deployment
metadata:
  name: iwas-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: iwas-api
  template:
    metadata:
      labels:
        app: iwas-api
    spec:
      containers:
        - name: api
          image: elijahproctor/iwas-api:latest
          env:
            - name: DB_HOST
              value: mysql
            - name: DB_PORT
              value: "3306"
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: MYSQL_DATABASE
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: MYSQL_USER
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: MYSQL_PASSWORD
          ports:
            - containerPort: 5000
