apiVersion: v1
kind: Service
metadata:
  name: mysql
spec:
  type: ClusterIP
  selector:
    app: mysql
  ports:
    - port: 3306
---
apiVersion: v1
kind: Service
metadata:
  name: iwas-api
spec:
  type: ClusterIP
  selector:
    app: iwas-api
  ports:
    - port: 5000
      targetPort: 5000
---
apiVersion: v1
kind: Service
metadata:
  name: iwas-frontend
spec:
  type: LoadBalancer
  selector:
    app: iwas-frontend
  ports:
    - port: 80
      targetPort: 80
